<div>
  <div class="container">
    <div class="row margin-top-10">
      <div class="col-1">
        <table id="size" class="table table-hover table-bordered">
          <tbody>
            <tr *ngFor="let num of sizeOfSudoku | numerToArray">
              <td>{{num}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-10">
        <table id="grid" class="table table-bordered">
          <tbody>
            <tr id="row_{{rIndex}}" *ngFor="let row of inputGrid; let rIndex = index">
              <td id="col_{{rIndex}}" *ngFor="let col of row; let colIndex = index">
                {{col}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>