<div class="container">
  <div class="row margin-top-10">
    <div class="col-1">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr *ngFor="let num of sizeOfSudoku | numerToArray">
            <td>{{num}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-10">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr *ngFor="let row of outputGrid">
            <td *ngFor="let col of row">
              {{col}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>